{{!-- <div class="uk-input"> --}}
{{!-- <input type="text" class="form-control" placeholder="Looking for something new..?">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
    </div> --}}
<div class="uk-container">
    <form class="uk-grid">
        <div class="uk-width-1-2">
            <input type="text" class="uk-input" id="looking" placeholder="Looking for something new..?">
        </div>
        <div class="uk-width-1-2">
            <button class="uk-button uk-button-default" type="submit" id="button-looking"><i
                    class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<br>
<div class="uk-container">
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a><img style="height: 200px" src="./images/unnamed.png"></a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a><img style="height: 200px" src="./images/unnamed.png"></a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a><img style="height: 200px" src="./images/unnamed.png"></a>
            </div>
        </div>
    </div>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a><img style="height: 200px" src="./images/unnamed.png"></a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a><img style="height: 200px" src="./images/unnamed.png"></a>
            </div>
        </div>
    </div>
</div>
<!-- App scripts -->
<script src="/js/index.js"></script>