<!-- Socket IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>

<div class="uk-box-shadow-xlarge chat-container">
    <div class="chat-header">Chat with other members</div>
    <div class="chat-message">
        <div class="chat-room" id="chat-room">
        </div>
        <section id="feedback"></section>
    </div>
    <textarea class="uk-textarea" type="textarea" id="message" class="form-control" placeholder="Type a message..."
        rows="2"></textarea>
    <div>
        <button class="uk-button btn-flex-size send_message" id="send_message"><i class="far fa-comment-alt"></i></button>
    </div>
</div>

<!-- App scripts and css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
<script src="/js/member-post.js"></script>