<form class="uk-container-small">
    <fieldset class="uk-fieldset">
        <div>

            <button class="uk-button uk-button-danger" id="create">Create a New Recipe</button>

        </div>

    </fieldset>
</form>


<!-- App scripts and css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/browse.css">
<script type="text/javascript" src="/js/create_recipe.js"></script>

