<form class="uk-container-small">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">New Recipe</legend>

        <div class="uk-margin">
            <h3>What is the name of your recipe?</h3>
            <input class="uk-input" id= "recipeName" type="text" placeholder="Recipe Title">
        </div>
        <div class="uk-margin">
            <h3>How many serves?</h3>
            <input class="uk-input" type="text" id = "recipeServing" placeholder="eg. 4">
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">

            <h3>Food Categories:</h3>

            <a class="uk-button uk-button-default" href="#modal-sections" uk-toggle>Click to choose your
                recipe's genre</a>

            <div id="modal-sections" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Please pick up to 5!</h2>
                    </div>
                    <div class="uk-modal-body">
                        <label><input class="uk-checkbox" type="checkbox"> Vegan</label>
                        <label><input class="uk-checkbox" type="checkbox"> Vegetarian</label>
                        <label><input class="uk-checkbox" type="checkbox"> Diary Free</label>
                        <label><input class="uk-checkbox" type="checkbox"> Gluten Free</label>
                        <label><input class="uk-checkbox" type="checkbox"> Japanese</label>
                        <label><input class="uk-checkbox" type="checkbox"> Mexican</label>
                        <label><input class="uk-checkbox" type="checkbox"> Salad</label>
                        <label><input class="uk-checkbox" type="checkbox"> Italian</label>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary" type="button">Save</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="uk-margin">
            <ul uk-accordion>
                <li>
                    <a class="uk-accordion-title" href="#">Add Ingredients:</a>
                    <div class="uk-accordion-content">
                        {{> recipe-ingredients}}
                    </div>
                </li>
            </ul>
        </div>

        <div class="uk-margin">
            <h3>Recipe Instructions:</h3>
            <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
        </div>
        <div>
            <button class="uk-button uk-button-primary">Save</button>
            <button class="uk-button uk-button-danger">Clear All</button>
        </div>
    </fieldset>
</form>


<script src="/js/create_recipe.js"></script>