<div class="wrapper">
    {{> header}}
    <main class="main">
        <div class="uk-container">
            {{> navigation/primary-nav}}
            <div class="uk-grid">
                <div class="uk-width-4-5@m">
                    <form class="uk-container-small">
                        <fieldset class="uk-fieldset">

                            <legend class="uk-legend">New Recipe</legend>

                            <div class="uk-margin">
                                <h3>What is the name of your recipe?</h3>

                                <input class="uk-input" id="recipe-name" type="text" placeholder="Recipe Title">
                            </div>
                            <div class="uk-margin">
                                <h3>How many serves?</h3>
                                <input class="uk-input" type="text" id="recipe-portion" placeholder="eg. 4">
                            </div>

                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                {{> recipe-category}}
                            </div>

                            <div class="uk-margin">
                                <ul uk-accordion>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Add Ingredients:</a>
                                        <div class="uk-accordion-content">
                                            {{> recipe-ingredients}}
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="uk-margin">
                                <h3>Recipe Instructions:</h3>

                                <textarea class="uk-textarea" rows="5" id="recipe-instruction"
                                    placeholder="instructions"></textarea>
                            </div>
                            <div>

                                <button class="uk-button uk-button-danger food-btn" id="saveRecipe">Save</button>

                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="uk-width-1-5@m">
                    {{> chat}}
                </div>
            </div>
        </div>
    </main>
    <div class="push"></div>
    {{> footer}}
</div>




<!-- App scripts and css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/browse.css">
<script type="text/javascript" src="/js/create-recipe.js"></script>