<footer class="footer">
    <div class="colour-season">
        <div class="uk-align-right">
            <span class="fa">© 2020 -
                {{!-- <img src="./images/logo.png" alt="Spin that meal logo" style="width:25px">--}}
                <a class="fa" href="/">Spin that meal </a>
            </span>
            <!-- links to our github accounts -->
            <a target="_blank" href=" https://github.com/arob0017" class="fa"> - <i class="fab fa-github-square"></i>
                Amelia </a>
            <a target="_blank" href="https://github.com/chrisjmckeown" class="fa"> - <i
                    class="fab fa-github-square"></i> Chris </a>
            <a target="_blank" href="https://github.com/lionhatt" class="fa"> - <i class="fab fa-github-square"></i>
                Gavin </a>
            <a target="_blank" href="https://github.com/avvisingh" class="fa"> - <i class="fab fa-github-square"></i>
                Avii</a>
        </div>
    </div>
</footer>
<!-- App scripts and css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">