<footer>
    <div class="colour-season">
        <div class="uk-align-right">
            <p>Amelia</p>
            <a href=" https://github.com/arob0017" class="fa fa-github"></a>
            <p>Chris</p>
            <a href="https://github.com/chrisjmckeown" class="fa fa-github"></a>
            <p>Gavin</p>
            <a href="https://github.com/lionhatt" class="fa fa-github"></a>
            <p>Avii</p>
            <a href="https://github.com/avvisingh" class="fa fa-github"></a>
        </div>
    </div>
</footer>