<header>
    <h1>Spin That Meal</h1>
    <div class="header">
        <div class="dropdown">
            <button class="dropbtn">
                <div class="user-icon">
                    <i class="fa fa-user-circle"></i>
                </div>
                Your Profile
            </button>
            <div class="dropdown-content">
                <a href="#">Dashboard</a>
                <a href="#">Settings</a>
                <a href="#">Contact Us</a>
                <a href="#">Sign Out</a>
            </div>
        </div>
    </div>
</header>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/index.js"></script>