<header>
    <nav class="uk-nav-container">
        <div class="background-herbs">
            <nav class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="spin-that-meal uk-float-left">
                            <a href="/index" class="uk-text-nowrap name">
                                {{!-- <img src="./images/logo.png" alt="Spin that meal logo" style="height:70px">--}}
                                Spin That Meal</a>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="dropdown uk-float-right">
                            <button class="dropbtn" id="your-profile">
                                <div class="user-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                            </button>
                            <div class="dropdown-content">
                                <a href="/logout">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>
<!-- App scripts and css-->
<script src="/js/member-header.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">