<ul>
    <li>
        <a href="/api/categories">Manage categories</a>
    </li>
    <li>
        <a href="/api/favourites">Manage favourites</a>
    </li>
    <li>
        <a href="/api/ingredients">Manage ingredients</a>
    </li>
    <li>
        <a href="/api/measurements">Manage measurements</a>
    </li>
    <li>
        <a href="/api/recipes">Manage recipes</a>
    </li>
    <li>
        <a href="/api/recipe-ingredients">Manage recipe ingredients</a>
    </li>
    <li>
        <a href="/api/shopping-lists">Manage shopping lists</a>
    </li>
    <li>
        <a href="/api/types">Manage types</a>
    </li>
    <li>
        <a href="/api/users">Manage members</a>
    </li>
</ul>