<form class="create-form" id="create-form">
  <fieldset class="uk-fieldset">

    <div class="uk-margin ingredients-add">
      <input type="text" class="recipe-ingredient-name ingred-input" id="recipe-ingredient-name"
        placeholder="Ingredient Name" name="name">
    </div>
    <div class="uk-margin ingredients-add">
      <select class="uk-select" id="type">
        {{!-- {{#each Type}}
        <option value="{{>this.dataValues.id}}">{{>this.dataValues.name}}</option>
        {{/each}} --}}
      </select>
    </div>
    <div class="uk-margin ingredients-add">
      <input type="text" class="recipe-ingredient-amount ingred-input" id="recipe-ingredient-amount"
        placeholder="amount" name="amount">
    </div>
    <div class="uk-margin ingredients-add">
      <select class="uk-select" id="measurement">
        {{!-- {{#each Measurement}}
        <option value="{{>this.dataValues.id}}">{{>this.dataValues.name}}</option>
        {{/each}} --}}
        {{!-- <option>teaspoon</option>
        <option>tablespoon</option>
        <option>cup</option>
        <option>g</option>
        <option>kg</option>
        <option>mL</option>
        <option>L</option> --}}
      </select>
    </div>
    <button class="uk-button uk-button-default" id="save"><a href="#" uk-icon="icon: plus"></a>Save Ingredient</button>
</form>
<ul id="ingredientList">
  {{!-- {{#each RecipeIngredient}}
  {{> row-item text=this.dataValues.amount}}
  {{/each}} --}}
</ul>
</fieldset>

<form>

  <!-- App scripts and css-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/browse.css">
  <script type="text/javascript" src="/js/recipe-ingredient.js"></script>