<h1>Recipe Ingredient</h1>

<h2>Edit Recipe Ingredient {{this.dataValues.id}}</h2>
<form data-id="{{this.dataValues.id}}" class="update-form">

  <div class="form-group">
    <label for="recipe-ingredient-amount">Name:</label>
    <input type="text" class="recipe-ingredient-amount" id="recipe-ingredient-amount" name="name"
      value="{{this.dataValues.amount}}">
  </div>

  <button type="submit">Update Recipe Ingredient</button>
</form>