<div>
    <h3>Please input your recipe's genre</h3>
    <form class="uk-grid-small create-form" id="create-form">
        <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
            <div class="uk-width-expand uk-first-column">
                      <select class="uk-select" id="category"></select>
            </div>
            <div class="uk-width-auto">
                <button class="uk-button uk-button-default uk-width-1-1" id="add" type="submit">Add Category</button>
            </div>
        </div>
    </form>
    <ul class="uk-list uk-list-divider uk-list-striped" id="categoryList">
    </ul>
</div>



<!-- App scripts and css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/browse.css">
<script type="text/javascript" src="/js/recipe-category.js"></script>