<li>
	<div class="uk-grid" uk-grid>
		<div class="uk-width-expand">
			{{text}}
		</div>
		<div>
			<button class="uk-button btn-flex-size edit-play-list" id="edit-play-list"
				data-id="{{this.dataValues.id}}">EDIT</button>
		</div>
	</div>
</li>