<li>
	<div class="uk-grid" uk-grid>
		<div class="uk-width-expand">
			{{text}}
		</div>
		<div>
			<button class="uk-button btn-flex-size view-recipe" id="view-recipe"
				data-id="{{this.dataValues.id}}">View</button>
			<button class="uk-button btn-flex-size delete-recipe" id="delete-recipe"
				data-id="{{this.dataValues.id}}">DELETE</button>
		</div>
	</div>
</li>