{{> header}}

<div class="uk-container">
    <main id="content">
        <ul uk-tab>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Starred</a></li>
            <li><a href="#">Create a Recipe</a></li>
            <li><a href="#">Edit Details</a></li>
            <li><a href="#">Tasty Collections</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li class="browse">
                {{> browse}}
            </li>
            <li class="starred">
                {{> starred}}
            </li>
            <li class="create-recipe">
                {{> create-recipe}}
            </li>
            <li class="edit-details">
                <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">Blurb</div>
                        </div>
                        <div>
                            {{> member-edit}}
                            </div>
                        <div>
                            {{> chat}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </main>

</div>


{{> footer}}