{{> header}}

<main>
    <ul uk-tab>
        <li><a href="#">Starred</a></li>
        <li><a href="#">Create a Recipe</a></li>
        <li><a href="#">Edit Details</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li class="starred">
            {{> starred}}</li>
        <li class="create-recipe">
            {{> create-recipe}}
        </li>
        <li class="edit-details">
            {{> member-edit}}
        </li>
    </ul>
</main>
{{> footer}}