{{> header}}

<h1>Categories</h1>

<h2>Add a Category</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="categoryName">Category Name:</label>
    <input type="text" class="categoryName" id="categoryName" name="name">
  </div>
  <button type="submit">Add Category</button>
</form>
<ul>
  {{#each Category}}
  {{> row-item}}
  {{/each}}
</ul>
{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/categories.js"></script>