{{> header}}

<h1>Ingredient</h1>

<h2>Edit Ingredient {{this.dataValues.id}}</h2>
<form data-id="{{this.dataValues.id}}" class="update-form">

  <div class="form-group">
    <label for="ingredient-name">Name:</label>
    <input type="text" class="ingredient-name" id="ingredient-name" name="name" value="{{this.dataValues.name}}">
  </div>

  <button type="submit">Update Ingredient</button>
</form>

{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/ingredient.js"></script>