<div class="wrapper">
  {{> header}}
  <main class="main">
    <div class="uk-container">
      {{> navigation/primary-nav}}
      <div class="uk-grid">
        <div class="uk-width-4-5">
          <div class="uk-box-shadow-xlarge uk-padding">
            <legend class="uk-legend">Manage Ingredients</legend>
            <p>Add, edit and delete the ingredients used within recipes.</p>
            <form class="uk-grid-small create-form" id="create-form">
              <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
                <div class="uk-width-expand uk-first-column">
                  <input type="text" class="uk-input ingredient-name" id="ingredient-name" name="name"
                    placeholder="new ingredient name...">
                </div>
                <div class="uk-width-auto uk-first-column">
                  <label for="type-list">Type:</label>
                </div>
                <div class="uk-width-expand uk-first-column">
                  <select class="uk-select type-list">
                  </select>
                </div>
                <div class="uk-width-auto">
                  <button class="uk-button btn-flex-size uk-width-1-1" type="submit">Add Ingredient</button>
                </div>
              </div>
              <div style="display: none" id="alert" role="alert">
                <span class="msg"></span>
              </div>
            </form>
            <ul class="uk-list uk-list-divider uk-list-striped">
              {{#each Ingredient}}
              {{> ingredients-row-item}}
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="uk-width-1-5">
          {{> chat}}
        </div>
      </div>
    </div>
  </main>
  {{> footer}}
</div>
<!-- App scripts and css-->
<script src="/js/admin-ingredient.js"></script>