<h2>Add a Measurement</h2>
<form class="uk-grid-small" uk-grid>
  <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
    <div class="uk-width-expand uk-first-column">
      <input class="uk-input measurement-name" id="measurement-name" type="text" placeholder="new measurement..."
        autofocus="" required="">
    </div>
    <div class="uk-width-auto">
      <button class="uk-button uk-button-default uk-width-1-1 create">Add</button>
    </div>
  </div>
</form>

<ul>
  {{#each Measurement}}
  {{> measurement-item text=this.dataValues.name}}
  {{/each}}
</ul>
<!-- App scripts -->
<script src="/js/measurement.js"></script>