{{> header}}

<h1>Measurement Lists</h1>

<h2>Add a Measurement</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="measurement-name">Measurement Name:</label>
    <input type="text" class="measurement-name" id="measurement-name" name="name">
  </div>
  <button type="submit">Add Measurement</button>
</form>
<ul>
  {{#each Measurement}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/measurement.js"></script>