<h2>Edit Play List {{this.dataValues.id}}</h2>
<form data-id="{{this.dataValues.id}}" class="update-form">

  <div class="form-group">
    <label for="play-list-name">Name:</label>
    <input type="text" class="play-list-name" id="play-list-name" name="name" value="{{this.dataValues.name}}">
  </div>

  <button type="submit">Update Play List</button>
</form>

<!-- App scripts and css-->
<script src="/js/play-list.js"></script>