{{> header}}

<h1>Play List</h1>

<h2>Edit Play List {{this.dataValues.id}}</h2>
<form data-id="{{this.dataValues.id}}" class="update-form">

  <div class="form-group">
    <label for="play-list-name">Name:</label>
    <input type="text" class="play-list-name" id="play-list-name" name="name" value="{{this.dataValues.name}}">
  </div>

  <button type="submit">Update Play List</button>
</form>

{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/play-list.js"></script>