{{> header}}

<h1>Recipe Lists</h1>

<h2>Add a Recipe</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="recipe-name">Recipe Name:</label>
    <input type="text" class="recipe-name" id="recipe-name" name="name">
    <label for="recipe-instruction">Instruction:</label>
    <input type="text" class="recipe-instruction" id="recipe-instruction" name="instruction">
    <label for="recipe-portion">Portion:</label>
    <input type="text" class="recipe-portion" id="recipe-portion" name="portion">
  </div>
  <button type="submit">Add Recipe</button>
</form>
<ul>
  {{#each Recipe}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/recipe.js"></script>