<h2>Add a Type</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="type-name">Type Name:</label>
    <input type="text" class="uk-input"  id="type-name" name="name">
  </div>
  <button class="uk-button uk-button-default" type="submit">Add Type</button>
</form>
<ul>
  {{#each Type}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
<!-- App scripts and css-->
<script src="/js/type.js"></script>