{{> header}}

<h1>Type Lists</h1>

<h2>Add a Type</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="type-name">Type Name:</label>
    <input type="text" class="type-name" id="type-name" name="name">
  </div>
  <button type="submit">Add Type</button>
</form>
<ul>
  {{#each Type}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/type.js"></script>