{{> header}}

<h1>Users</h1>

<ul>
  {{#each User}}
  {{> row-item text=this.dataValues.userName}}
  {{/each}}
</ul>
{{> footer}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- App scripts -->
<script src="/js/users.js"></script>