/* browse */
.search-results {
  box-sizing: content-box;
  justify-content: space-around;
}

.uk-navbar-container {
  margin-bottom: 20px;
}
.uk-button-default {
  border: 1px Solid #f8f8f8;
}
/* for search icon */
svg {
  width: 30px;
  height: 30px;
}
.uk-search-navbar {
  width: 316px;
}

.uk-icon {
  color: #666;
}
/* search results card */
.uk-table {
  margin-bottom: 0px;
}
.uk-card-body {
  min-height: 470px !important;
  max-height: 470px !important;
}
@media (min-width: 1200px) {
  .uk-card-body {
    padding: 40px 40px;
    min-height: 470px !important;
    max-height: 470px !important;
  }
}
@media (min-width: 960px) {
  .uk-card-body {
    padding: 40px 40px;
    min-height: 470px !important;
    max-height: 470px !important;
  }
}
@media (min-width: 640px) {
  .uk-child-width-1-2\@s > * {
    width: 100%;
    margin-left: 20px;
  }
}
