/* Create Recipe */

.ingredients-add {
  display: inline-block;
}
.ingred-input {
  border: 1px solid #e5e5e5;
  border-top-color: rgb(229, 229, 229);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(229, 229, 229);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(229, 229, 229);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.uk-accordion-title {
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
  color: #333 !important;
}
.uk-container-small {
  margin-left: auto;
  margin-right: auto;
}
