body, html {
    height: 100%;
  }
/* Login page */
.login-img {
    background-image: url("/images/hands-food.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.sign-in-form{
    height: 600px;
}

.sign-in-form{
    margin-top: 60px;
}

.uk-button:hover{
    background-color: azure;
}
.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out; 
     display: none;
    /* display: none;
    transition: opacity 1s ease-out;
    opacity: 0; */
}
.fadein {
    opacity: 1; 
     display: block;

    /* opacity: 1;
    display: block; */
}