html,
body {
  height: 100%;
}
/* to give space between buttons and footer */
.push {
  margin-bottom: 50px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* styling the header */
header {
  flex: 0 1 auto;
  width: 100%;
}
/* styling the main */
.main {
  flex: 1 1 auto;
  background-color: white;
  width: 100%;
}
/* styling the footer */
footer {
  flex: 0 1 auto;
  width: 100%;
}
.navbar {
  padding: 1.5rem 2rem;
}

.uk-button.btn-fixed-size,
.uk-button.btn-clear {
  color: whitesmoke;
  background-color: #f2894b;
  padding: 30px 5px 30px 5px;
  line-height: 0px;
  font-weight: 500;
  min-width: 160px;
  max-width: 160px;
  margin-bottom: 5px;
}

.uk-button.btn-flex-size {
  color: whitesmoke;
  background-color: #f2894b;
}

.uk-button.btn-clear {
  background-color: #cea04a;
}

.uk-button.btn-fixed-size:hover,
.uk-button.btn-food:hover,
.uk-button.btn-flex-size:hover {
  background-color: #3f3c33;
}

.msg,
.msglogin {
  color: red;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.6;
}