.playlist-div {
  margin-top: 5%;
  margin-bottom: 5%;
}

.playlist-card {
  background-color: #f2894b;
  margin-left: 5%;
  margin-right: 5%;
  border: rgba(102, 97, 97, 0.7) solid 1px;
  border-radius: 5.5%;
}

.playlist-card {
  background: linear-gradient(#f2894b, #f2894b 50%, #32d269 50%, #32d269);
  background-size: 100% 200%;
  transition: all 0.2s ease;
}
.playlist-card:hover {
  background-position: 100% 100%;
}
.discover {
  color: white !important;
  max-height: 250px;
  min-height: 250px;
}

@media (min-width: 1200px) {
  .playlist-card {
    padding: 40px 40px;
    min-height: 250px;
    max-height: 250px;
  }
}
@media (min-width: 960px) {
  .playlist-card {
    padding: 40px 40px;
    min-height: 250px;
    max-height: 250px;
  }
}
