#chatroom { 
    overflow-y: scroll;
    max-height: 360px;
    height: 360px;
}
/* Login page */
.login-img {
    background-image: url("/images/hands-food.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    padding: 1.5rem 2rem;
}