<div class="wrapper">
    {{> header}}
    <main class="main">
        <div class="uk-container">
            {{> navigation/primary-nav}}
            <div class="uk-grid">
                <div class="uk-width-4-5@m">
                    <div class="uk-box-shadow-xlarge uk-padding">
                        <h3>Spin-that-meal allows registered members to:</h3>
                        <ul>
                            <li>
                                <p>Search: search a list of recipes</p>
                            </li>
                            <li>
                                <p>Starred: view a list of liked recipes.</p>
                            </li>
                            <li>
                                <p>My CookBook: create a collection of recipes, i.e. Breakfast, Healthy etc.</p>
                            </li>
                            <li>
                                <p>Create a recipe: enter your own creations.</p>
                            </li>
                            <li>
                                <p>Personal details: manage your personal info, including name, email, password, message
                                    color and contact details.</p>
                            </li>
                            <li>
                                <p>Contact: message one of our support staff.</p>
                            </li>
                            <li>
                                <p>Messenger: chat with other active members, ask questions about recipes.</p>
                            </li>
                            <li>
                                <p>Management: available to admin members only.</p>
                            </li>
                        </ul>
                        <h3>Future development:</h3>
                        <ul>
                            <li>
                                <p>Shopping list: create a list of required groceries</p>
                            </li>
                            <li>
                                <p>Pantry: list of items currently in your pantry</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-1-5@m">
                    {{> chat}}
                </div>
            </div>
        </div>
    </main>
    <div class="push"></div>
    {{> footer}}
</div>
<!-- App scripts and css-->
{{!-- <script src="/js/about.js"></script> --}}