<div class="wrapper">
    {{> header}}
    <main class="main">
        <div class="uk-container">
            {{> navigation/primary-nav}}
            <div class="uk-grid">

                <div class="uk-width-4-5@m">
                    <div class="uk-grid">
                        <div class="uk-width-1-5 uk-float-left">
                            <div class="playlist-aside">
                                <h4 class="cookBook">Contents</h4>
                                <form action="/playlist">
                                    <button class="uk-button uk-button-default btn-fixed-size">Create a List</button>
                                </form>
                                <form action="/api/play-lists-in-my-list">
                                    <input class="uk-button uk-button-default btn-fixed-size" type="submit"
                                        value="My Playlists" />
                                </form>
                                <form action="/api/recipes-in-my-list">
                                    <input class="uk-button uk-button-default btn-fixed-size" type="submit"
                                        value="My Recipes" />
                                </form>
                                <form action="/api/all-recipes-a-list">
                                    <input class="uk-button uk-button-default btn-fixed-size" type="submit"
                                        value="All Recipes" />
                                </form>
                            </div>
                        </div>
                        <div class="uk-width-4-5 uk-float-left cookBook">
                            <h1>My CookBook</h1>
                            <h3>Create your own lists of recipe's to add to your specialised CookBook!</h3>
                            <h5>Vegetarian faves... Quick Fam Dinners... Friendly Gatherings... Fave Salads</h5>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <ul class="uk-list uk-list-divider uk-list-striped">
                                {{#each Recipe}}
                                {{> user-recipe-item text=this.dataValues.name}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="display-recipe"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-5@m">
                    {{> chat}}
                </div>
            </div>
        </div>
    </main>
    <div class="push"></div>
    {{> footer}}
</div>
<!-- App scripts and css-->
<script src="/js/playlist.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/playlists.css">