<ul class="uk-tab">
    <li><a href="/index">Browse</a></li>
    <li><a href="/starred">Starred</a></li>
    <li><a href="/playlist">Playlists</a></li>
    <li><a href="/create-recipe">Create a Recipe</a></li>
    {{!-- <li><a href="#">Tasty Collections</a></li> --}}
    <li><a class="member-edit">Edit Details</a></li>
    <li>
        <a href="#">Management<span class="uk-margin-small-left" uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/api/categories">Categories</a></li>
            </ul>
        </div>
    </li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
<!-- App scripts and css-->
<script src="/js/member-edit.js"></script>
