<div class="uk-container">
  <h2>Add a Category</h2>
  <form class="uk-grid-small create-form" id="create-form">

    <div class="uk-margin-small uk-grid-small uk-grid" uk-grid="">
      <div class="uk-width-expand uk-first-column">
        <input type="text" class="uk-input category-name" id="category-name" name="name" placeholder="new category...">
      </div>
      <div class="uk-width-auto">
        <button class="uk-button uk-button-default uk-width-1-1" type="submit">Add Category</button>
      </div>
    </div>
  </form>
  <ul class="uk-list uk-list-divider uk-list-striped">
    {{#each Category}}
    {{> row-item text=this.dataValues.name}}
    {{/each}}
  </ul>
</div>
  <!-- App scripts -->
<script src="/js/categories.js"></script>