<h2>Add a Measurement</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="measurement-name">Measurement Name:</label>
    <input type="text" class="measurement-name" id="measurement-name" name="name">
  </div>
  <button type="submit">Add Measurement</button>
</form>
<ul>
  {{#each Measurement}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
<!-- App scripts -->
<script src="/js/measurement.js"></script>