<h2>Add a Play List</h2>
<form class="create-form" id="create-form">

  <div class="form-group">
    <label for="play-list-name">Play List Name:</label>
    <input type="text" class="play-list-name" id="play-list-name" name="name">
  </div>
  <button type="submit">Add Play List</button>
</form>
<ul>
  {{#each PlayList}}
  {{> row-item text=this.dataValues.name}}
  {{/each}}
</ul>
<!-- App scripts -->
<script src="/js/play-list.js"></script>